@media all and (max-width:1070px){
    .header-right{
        display: none;
    }
    .menu-icon{
        display:flex;
        margin:0 0 0 auto;
    }
    .subjects{
        flex-direction: column;
    }
    .subjects li{
        margin: 0 auto;
        padding-bottom: 25px;
    }
}